.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 5px;
}

.OrderSpan {
  text-transform: capitalize;
  display: inline-block;
  box-shadow: 0 2px 3px #ccc;
  margin: 0 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
